{% extends 'base.html' %}

{% block styles %}
    {% include 'inc-feedback-styles.html' %}
{% endblock %}

{% block title %}Leave feedback - Flex Python{% endblock %}

{% block menu %}{% endblock %}

{% block content %}
    <form action="/feedback" method="post" class="decor">
        <div class="form-inner">
            <h1>Contact us</h1>
            <input name="name" type="text" placeholder="Username">
            <input name="email" type="email" placeholder="Email">
            <textarea name="message" placeholder="Message..." rows="5"></textarea>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}