{% extends 'base.html' %}

{% block styles %}
    {% include 'inc-styles.html' %}
{% endblock %}
{% block title %}Home - Flex Python{% endblock %}

{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock %}

{% block content %}
    <div>
        <h1>Flex Python Materials</h1>
    </div>

    {% for material in materials %}
        <div>
            <a href="/{{ material }}"><h2>{{ material|capitalize }}</h2></a>
            {% for item in materials[material] %}
                <div>
                    <h3>{{ item['name'] }}</h3>
                    <p>Posted at: {{ item['created_date'].strftime('%b %m, %Y') }}</p>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}