{% extends 'base.html' %}

{% block content %}
    <div>
        <h1>Flex Python Articles</h1>
    </div>

    <div>
        <form action="" method="GET" id="index-search-form">
            <input type="search" placeholder="Find Tutorials, Courses, Quizzes..." aria-label="Search">
            <input type="hidden" name="_from" value="home">
        </form>
        <button type="submit" form="index-search-form">Search</button>
    </div>

    {% for article in articles %}
    <div>
        <h2>{{ article['name'] }}</h2>
        <p>Posted at: {{ article['created_date'].strftime('%b %m, %Y') }}</p>
    </div>
    {% endfor %}
{% endblock %}