{% extends 'base.html' %}

{% block styles %}
    {% include 'inc-styles.html' %}
{% endblock %}
{% block title %}Home - Flex Python{% endblock %}

{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock %}

{% block content %}
    {% if related_tags|length > 0 %}
        <div>
            <h1>Materials for tags:
                {% for tag in related_tags %}
                    <i>"{{ tag }}"</i>
                {% endfor %}
            </h1>
        </div>
    {% else %}
        <div>
            <h1>Materials:</h1>
        </div>
    {% endif %}


    <div>
        <a href="/tags/"><h2>See all tags</h2></a>
    </div>

    {% for material in materials %}
        <div>
            <h4>{{ material.name }}</h4>
            <p>Posted at: {{ material.created.strftime('%b %m, %Y') }}</p>
            <span><a href="/copy-material/?name={{ material.name }}">Copy material</a></span>
        </div>
    {% endfor %}

{% endblock %}