{% extends 'base.html' %}

{% block styles %}
    {% include 'inc-styles.html' %}
{% endblock %}
{% block title %}Home - Flex Python{% endblock %}

{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock %}

{% block content %}
    <div>
        <h1>Flex Python Materials</h1>
    </div>

    <div>
        <a href="/tags/"><h2>See all tags</h2></a>
    </div>

    <div>
        <a href="/add-material"><h2>Add new material</h2></a>
    </div>

    {% for material in materials %}
        <div>
            <h4>{{ material.name }}</h4>
            <p>Posted at: {{ material.created.strftime('%b %m, %Y') }}</p>
            <span><a href="/copy-material/?name={{ material.name }}">Copy material</a></span>
        </div>
    {% endfor %}

{% endblock %}