{% extends 'base.html' %}

{% block styles %}
    {% include 'inc-styles.html' %}
{% endblock %}

{% block title %}Tags - Flex Python{% endblock %}

{% block menu %}
    {% include 'inc-menu.html' %}
{% endblock %}

{% block content %}
    <a href="/">Back to homepage</a>

    <h1>Existing Tags</h1>
    <ul>
        {% for tag in tags %}
            {% set num_materials = tag.number_of_materials() %}
            <li>
                {{ tag.name }} <span>(Related materials: {{ num_materials }})</span>
                {% if num_materials > 0 %}
                    <a href="/materials/?tags={{ tag.name }}">Show</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <h1>Add new tag</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Name">
        <button type="submit">Save and back to tags</button>
    </form>
{% endblock %}